.container1 {
	display: flex;
	justify-content: left;
	padding-top: 2rem;
	padding-bottom: 5rem;
	margin-left: 20%;
	margin-right: 20%;
}
.container2 {
	display: flex;
	flex-direction: column;
	justify-content: right;
	width: 100%;
}

.item {
	color: #131313;
	width: 100%;
}

.content {
	display: flex;
	justify-content: left;
	height: 100%;
	width: 100%;
}

.img-main-logo{
	width: 10rem;
}

.content h1{
	font-size: 4rem;
	margin-right: 0rem;
	text-align: right;
	margin-bottom: -1rem;
}  
.content h2{
	font-size: 2rem;
	text-align: right;
	margin-bottom: -0.5rem;
}
.content h3{
	font-size: 1rem;
	text-align: right;
	margin-bottom: -0.5rem;
	font-weight: 300;
}

.home-png{
	width: 1rem;
	height: auto;
	justify-content: left;
}
.home-png-anim{
	animation: glitch 0.2s 0.2s 2;
}
.youtube-video{
	width: 600px;
	height: 337.5px;
}


.home-inspirational {
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	text-align:right;
	height: 10%;
	position: relative;
	top: 5vh;
	height: 3rem;
}
.home-inspirational-underscore{
	display:inline-block;
	position:relative;
	left:1px;
}

.title {
	color: #131313;
	margin-left: 23%;
	font-family: 'Oswald', sans-serif;
 	text-transform: uppercase;
	font-size: 30px;
}
body {
	color: #131313 ;
	/*font-family: Consolas,monaco,monospace;*/
	font-family: 'Roboto', sans-serif;
 	font-weight: 400;
	background-color: #ddddd8;
}
#container {
	position: relative;
	min-height: 95vh;
}
#wrap {
	padding-bottom: 5.5rem;
}
.menu {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 10px;
	text-align: center;
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	border-radius: 15px;
	padding: auto;
}
a.menu{
    position: relative;;
}
.menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #131313;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.menu a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.main {
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: left;
	font-size: 18px;
}
.main iframe {
	padding-left: 0px;
}
.blogs {
	font-size: 20px;
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 20%;
}
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.imagePixelArt {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.blog {
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 18px;
}
.blog p{
	text-align: justify;
	text-justify: inter-word;
	text-align-last: left;
}
.blog h2 {
	color: #131313;
	text-align: left;
	margin-left: 3%;
	font-family: 'Oswald', sans-serif;
 	text-transform: uppercase;
	font-size: 27px;
}
.blog h5 {
	color: #131313;
	text-align: left;
	margin-left: 0%;
	font-size: 15px;
	opacity: 0.8;
	font-weight: 200;
}
.titleblog {
	color: #131313;
	text-align: center;
	font-family: 'Oswald', sans-serif;
 	text-transform: uppercase;
	font-size: 30px;
}
/* Games section*/
.games-container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1500px;
	flex-wrap: wrap;
	z-index: 1;
	margin: auto;
}
.games-container .games-card
{
	position: relative;
	width: 250px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.games-container .games-card .games-content
{
	padding: 20px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0.5;
	transition: 0.5s;
}
.games-container .games-card:hover .games-content
{
	transform: translateY(0px);
	opacity: 1;
}
.games-container .games-card .games-content h2
{
	color: #131313;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin: auto;
}
.games-container .games-card .games-content p
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.games-container .games-card .games-content a
{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: #fff;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 800;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* Blogs section */
.blogs-container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1500px;
	flex-wrap: wrap;
	z-index: 1;
	margin: auto;
}
.blogs-container .blogs-card
{
	position: relative;
	width: 1200px;
	height: 50px;
	margin: 10px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	transition: 0.5s;
}
.blogs-container .blogs-card:hover
{
	border-top: 1px solid rgba(255, 255, 255, 0);
	border-left: 1px solid rgba(255, 255, 255, 0);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.blogs-container .blogs-card .blogs-content
{
	padding: 20px;
	text-align: left;
	/*transform: translateY(100px);*/
	opacity: 0.5;
	transition: 0.5s;
	position: absolute;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 1;
	margin: auto;
}
.blogs-container .blogs-card:hover .blogs-content
{
	opacity: 1;
}
.blogs-container .blogs-card .blogs-content h2
{
	color: #f5b512;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin: auto;
	margin-right: 20px;
}
.blogs-container .blogs-card .blogs-content p
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-right: 20px;
}
.blogs-container .blogs-card .blogs-content a
{
	position: absolute;
	left: 1080px;
	display: inline-block;
	padding: 8px 20px;
	background: #fff;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 800;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.blogs-container .blogs-card .blogs-content a
{
	text-decoration: none;
}
.blog-navigation{
	}
.blog-navigation a:link {
	color: #131313;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	position: relative;
	padding-top: 10px;
}
.blog-navigation a:visited {
	color: #131313;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top: 10px;
}
.blog-navigation a:hover {
  color: #505050;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.blog-navigation a:active {
  color: #131313;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.codeSnippets {
  border-radius: 12px;
  padding: 20px;
  border: 2px solid #131313;
  width: 100%;
  font-size: 14px;
  font-family: Consolas, monaco, monospace;
}
/* BodyFrame section*/
.bodyframe-container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1500px;
	flex-wrap: wrap;
	z-index: 1;
	margin: auto;
}
.bodyframe-container .bodyframe-card
{
	position: relative;
	width: 350px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.bodyframe-container .bodyframe-card .bodyframe-content
{
	padding: 20px;
	text-align: center;
	transform: translateY(100px);
	transition: 0.5s;
}
.bodyframe-container .bodyframe-card:hover .bodyframe-content
{
	transform: translateY(-100px);
}
.bodyframe-container .bodyframe-card .bodyframe-content p
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-right: 20px;
}
.bodyframe-container .bodyframe-card .bodyframe-content h2
{
	color: #131313;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin: auto;
	margin-right: 20px;
}
#footer {
	font-family: 'Oswald', sans-serif;
	color: #131313;
	position: absolute;
	bottom: 10px;
	font-size: 25px;
	display: inline-block;
	left: 20%;
	height: 3rem;
	width: 400px;
	padding-top: 30px;
	margin-top: 10px;
}
.socials
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	padding-left: 10px;
}
.socials .image{
	background: white;
}
a.socials{
    position: relative;
}
a.socials:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: -8px;
  left: 10px;
  background-color: #131313;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.socials:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.socials:hover .image {
  background: #131313;
}
/* links */
.menu a:link {
	color: #131313;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	position: relative;
	padding: 10px;
}
.menu a:visited {
	color: #131313;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	padding: 10px;
}
.menu a:hover {
  color: #131313;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  padding: 10px;
}
.menu a:active {
  color: #131313 ;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  padding: 10px;
}
.home-screen{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70vh;
	flex-wrap: wrap;
	z-index: 1;
	margin: auto;
}
.home-screen h1{
	font-size: 3rem;
	color: #131313;
	pointer-events: none;
	justify-content: right;
	align-items: right;
	text-align: right;
}
.hidden {
  opacity:0;
}

@keyframes glitch {
  49%{
    opacity: 0%;
  }
}
/* games inspirational */
.games-screen{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	flex-wrap: wrap;
	z-index: 1;
	margin: auto;
}
.games-screen h1{
	position: absolute;
	right: 40px;
	font-size: 6vw;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
	justify-content: right;
	align-items: right;
	text-align: right;
}
.hidden {
  opacity:0;
}
.games-inspirational {
	font-family: 'Oswald', sans-serif;
	font-size:1rem;
	text-align:right;
	height: 10%;
	position:relative;
	top: 5vh;
	height: 3rem;
}
.games-inspirational-underscore{
	display:inline-block;
	position:relative;
	left:1px;
}
/* links for mid-text in blog */
.blog a:link {
	color: lightblue;
	text-decoration: none;
	font-weight: bold;
}
.blog a:visited {
	color: lightblue;
	text-decoration: none;
	font-weight: bold;
}
.blog a:hover {
	color: #EBECF8;
	text-decoration: none;
	font-weight: bold;
}
.blog a:active {
	color: #EBECF8;
	text-decoration: none;
	font-weight: bold;
}
/* links for main */
.main a:link {
	color: #131313;
	text-decoration: underline;
	font-weight: bold;
}
.main a:visited {
	color: #131313;
	text-decoration: underline;
	font-weight: bold;
}
.main a:hover {
	color: #505050;
	text-decoration: none;
	font-weight: bold;
}
.main a:active {
	color: #505050;
	text-decoration: none;
	font-weight: bold;
}
  /* For mobile phones: */
@media only screen and (max-width:1280px) {
.img-main-logo{
	width: 5rem;
	margin-left: -1rem;
}
.content h1{
	font-size: 2rem;
	margin-right: 0rem;
	text-align: right;
	margin-bottom: -1rem;
}  
.content h2{
	font-size: 1.1rem;
	text-align: right;
	margin-bottom: -0.5rem;
}
.content h3{
	font-size: 0.8rem;
	text-align: right;
	margin-bottom: -0.5rem;
	font-weight: 300;
}
.home-inspirational {
	font-size: 0.8rem;
}
#footer {
	left: 2%;
}
.youtube-video{
	width: 300px;
	height: 168.75px;
}

  .main, .rowf, .blogs, .blog {
    width:90%;
    margin-left: 3%;
	margin-right: 3%;
  }
  .title, .titleblog {
    width:90%;
    margin-left: 4%;
    margin-right: 5%;
  }
  .column {
  float: left;
  width: 49%;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-right: 0;
  margin-left: 30%;
  }
.anim{
	width: 100%;
	float:left;
	margin-top: 30px;
	margin-left: 4%;
    margin-right: 100%;
}
.sidebarl{
	display:none;
}
.sidebarr{
	display:none;
}
.imgr{
	max-width: 100%;
	min-width: 100%;
	transition: max-width 1.5s;
	transition-delay: 0;
}
.imagePixelArt {
	max-width: 100%;
}
.menu{
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
	width: 93vw;
}
.menu, .menu a:link, .menu a:visited, .menu a:hover, .menu a:active{
	font-size: 25px;
	padding: 5px;
}
.blogs-container .blogs-card .blogs-content a{
	left: 10px;
	position: relative;
	margin: 5px;
	opacity: 1;
}
.blogs-container .blogs-card .blogs-content h2, .blogs-container .blogs-card .blogs-content p{
	margin-right: 2px;
	margin: 0px;
	padding: 2px;
}
.blogs-container .blogs-card
{
	position: relative;
	height: 200px;
	margin: 5px;
}
.blogs-container .blogs-card .blogs-content
{
	padding: 5px;
	text-align: left;
	left: 0px;
	justify-content: left;
	align-items: left;
	opacity: 1;
}
.home-inspirational{

	top: 10vh;
}
.home-screen{
	height: 40vh;
}
.bodyframe-container .bodyframe-card
{
	height: 550px;
}
.bodyframe-container .bodyframe-card .bodyframe-content
{
	padding: 20px;
	text-align: center;
	transform: translateY(0px);
}
.bodyframe-container .bodyframe-card .bodyframe-content p{
	margin: 10px;
}
.bodyframe-container .bodyframe-card:hover .bodyframe-content
{
	transform: translateY(0px);
}
.games-inspirational{
	height: 3rem;
	top: 3vh;
}
.games-container .games-card
{
	height: 550px;
}
.games-container .games-card .games-content
{
	padding: 20px;
	text-align: center;
	transform: translateY(0px);
	opacity: 1;
}
.games-container .games-card .games-content p{
	margin: 10px;
}
.games-container .games-card:hover .games-content
{
	transform: translateY(0px);
}
.home-png{
	margin-left: -2vh;
	margin-bottom: -25vh;
	height: 25vh;
}
}
  /* For iPads: */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .ipad-landscape { color: blue; }
    .main, .rowf, .blogs, .blog {
    width:90%;
    margin-left: 3%;
	margin-right: 3%;
  }
  .title, .titleblog {
    width:90%;
    margin-left: 4%;
    margin-right: 5%;
  }
  .youtube-video{
	width: 400px;
	height: 225px;
}
  .column {
  float: left;
  width: 49%;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-right: 0;
  margin-left: 30%;
  }
.anim{
	width: 100%;
	float:left;
	margin-top: 30px;
	margin-left: 4%;
    margin-right: 100%;
}
.sidebarl{
	display:none;
}
.sidebarr{
	display:none;
}
.imgr{
	max-width: 100%;
	min-width: 100%;
	transition: max-width 1.5s;
	transition-delay: 0;
}
.imagePixelArt {
	max-width: 100%;
}
.menu{
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
	width: 93vw;
}
.menu, .menu a:link, .menu a:visited, .menu a:hover, .menu a:active{
	font-size: 25px;
	padding: 5px;
}
.blogs-container .blogs-card .blogs-content a{
	left: 10px;
	position: relative;
	margin: 5px;
	opacity: 1;
}
.blogs-container .blogs-card .blogs-content h2, .blogs-container .blogs-card .blogs-content p{
	margin-right: 2px;
	margin: 0px;
	padding: 2px;
}
.blogs-container .blogs-card
{
	position: relative;
	height: 200px;
	margin: 5px;
}
.blogs-container .blogs-card .blogs-content
{
	padding: 5px;
	text-align: left;
	left: 0px;
	justify-content: left;
	align-items: left;
	opacity: 1;
}
.home-inspirational{
	height: 3rem;
	top: 10vh;
}
.home-screen{
	height: 40vh;
}
.bodyframe-container .bodyframe-card
{
	height: 550px;
}
.bodyframe-container .bodyframe-card .bodyframe-content
{
	padding: 20px;
	text-align: center;
	transform: translateY(0px);
}
.bodyframe-container .bodyframe-card .bodyframe-content p{
	margin: 10px;
}
.bodyframe-container .bodyframe-card:hover .bodyframe-content
{
	transform: translateY(0px);
}
.games-inspirational{
	top: 3vh;
	height: 3rem;
}
.games-container .games-card
{
	height: 550px;
}
.games-container .games-card .games-content
{
	padding: 20px;
	text-align: center;
	transform: translateY(0px);
	opacity: 1;
}
.games-container .games-card .games-content p{
	margin: 10px;
}
.games-container .games-card:hover .games-content
{
	transform: translateY(0px);
}
}
 /* Character description */
.imgr{
	max-width: 70%;
	min-width: 180px;
	transition: max-width 1.5s;
	transition-delay: 0;
}
