*{
    padding: 0;
    margin: 0;
}
:root {
	--jumpObstacle1-box-shadow-color:#f5b5126e;
    overflow-x: hidden;
}
body {
	background-color: #ddddd8;
	color: #131313;
	font-family: Consolas,monaco,monospace;
    overflow-x: hidden;
}
.jumpGame{
    width: 1000px;
    height: 305px;
    margin: auto;
    overflow-x: hidden;
}
.jumpGame{
    width: 1000px;
    height: 405px;
    margin: auto;
    overflow-x: hidden;
}
#jumpGameTitle{
    height: 25px;
    font-size: 20px;
    font-style: bold;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    overflow-x: hidden;
}
.startJumpGameTitle{
    color: transparent;
    overflow-x: hidden;
}
.animateStartText{
    color: #131313;
    animation: typing 3.5s steps(144, end);
    overflow-x: hidden;
}
@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}
.game{
    width: 1000px;
    height: 200px;
    margin: auto;
    float: left;
	background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpBackgroundBlack.png?raw=true");
    overflow-x: hidden;
}
#jumpLight{
    width: 80px;
    height: 100px;
    top: 100px;
    position: relative;
}
.turnOnLight{
    background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);
}
.lightFlickering{
    animation: jumpLightBlink 10s infinite linear;
}

@keyframes jumpLightBlink{
    0%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:1.0;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    48%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:1.0;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    49%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.3;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    50%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:1.0;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    51%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.3;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    52%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:1.0;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    100%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:1.0;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
}
.lightStartTurnOn{
    animation: jumpLightStartBlink 2s 1 linear;
}
@keyframes jumpLightStartBlink{
    10%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.1;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    20%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.5;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    30%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.9;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    40%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:1.0;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    50%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.5;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    60%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.8;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    70%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.3;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    80%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.8;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    90%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:0.7;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
    100%{background:radial-gradient(farthest-side at bottom,#f5b5126e ,#0000);opacity:1.0;
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);}
}
#jumpPlayer{
    width: 50px;
    height: 50px;
    background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan1.png?raw=true");
    position:relative;
    top: 50px;
    left: 15px;
    border-radius: 50%;
    /*box-shadow: 50px -100px 100px #f5b5126e;*/
}
@keyframes spinBall {
    100% {transform: rotate(360deg);}
}
.animatePlayer{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 50px;}
    10%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan2.png?raw=true");}
    30%{top: 0px; background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan3.png?raw=true");}
    70%{top: 0px; background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan3.png?raw=true");}
    90%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan2.png?raw=true");}
    100%{top: 50px;}
}

.animateHurtPlayer{
    animation: hurt 0.6s infinite linear;
}
@keyframes hurt{
    0%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpManHurt1.png?raw=true");}
    20%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpManHurt2.png?raw=true");}
    40%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpManHurt3.png?raw=true");}
    60%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpManHurt3.png?raw=true");}
    80%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpManHurt2.png?raw=true");}
    100%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpManHurt1.png?raw=true");}
}

#jumpObstacle1{
    background-color: #f5b5126e;
    width: 20px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 1000px;
    box-shadow: 0px 14px 64px 20px var(--jumpObstacle1-box-shadow-color);
}

@keyframes jumpObstacleAnimation1{
    0%{left: 1000px;}
    100%{left: -20px;}
}
#jumpObstacle2{
    background-color: #f5b5126e;
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
    left: 1020px;
    box-shadow: 0px 14px 64px 20px var(--jumpObstacle1-box-shadow-color);
}

@keyframes jumpObstacleAnimation2{
    0%{left: 2000px;}
    100%{left: -20px;}
}

p{
    text-align: center;
}

#gameControls{
    position: relative;
    float:center;
    width: 1000px;
    height: 98px;
    margin: auto;
    overflow: hidden;
}

#currentScore{
    top: 0px;
    margin: auto;
    text-align: center;
}

#finalScore{
    top: 0px;
    margin: auto;
    text-align: center;
}

.inactiveCurrentScore{
	color:#383738;
}
.inactiveFinalScore{
	color:#383738;
}
#sessionHighScore{
    top: 0px;
    float: right;
    margin: auto;
    text-align: center;
}
#sessionScore{
    top: 0px;
    float: right;
    margin: auto;
    text-align: center;
}
.invisibleSessionScore{
    color: transparent;
}
.visibleSessionScore{
    color: #131313;
}
.button {
  background-color: #131313;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
#platformGame{
    text-align: center;
}

canvas{
    border:  1px solid #383738;
    box-shadow: 0px 14px 24px 10px var(--jumpObstacle1-box-shadow-color);
}
